# Data Containers (Lists, Tuples, Dictionaries)

### Lists

Sequencial collection of elements enclosed by [ ], having index for each element. It can contain any python object like other lists or datacontainer, datatypes (integers, floats, strings etc), classes, objects, methods, builtins and many more. It is also Mutable, meaning it can be updated/changed/deleted in runtime. You can do operations on them like, append, extend, insert, pop, etc. Sclicing is also a very cool feature of lists.

In [2]:
a = [1, 4.5, 'Rockwell', {"key": 456}, (3,4), [4,5]]

In [6]:
a[5]

[4, 5]

In [8]:
a[-4]

'Rockwell'

In [9]:
a[::-1]

[[4, 5], (3, 4), {'key': 456}, 'Rockwell', 4.5, 1]

In [11]:
a[5][1]

5

In [12]:
a.append(67)

In [29]:
type(a)

list

In [14]:
a.insert(2, 'Collins')

In [16]:
print(a)

[1, 4.5, 'Collins', 'Rockwell', {'key': 456}, (3, 4), [4, 5], 67]

In [23]:
a.pop(2)

{'key': 456}

In [42]:
a

[1, 4.5, 'abc', [4, 5], 1, 4, 5]

### Tuple

Sequencial collection of elements enclosed by ( ), having index for each element. It can contain any python object like other lists or datacontainer, datatypes (integers, floats, strings etc), classes, objects, methods, builtins and many more. It is also Immutable, meaning it can never be updated/changed/deleted in runtime. It preserves it's initial values till the end of it's scope. Unlike lists you can only perform count and index function on tuple as it is immutable. Slicing is supported but you need to assign it to a new variable.

In [26]:
b = (1, 4.5, 'Rockwell', {"key": 456}, (3,4), [4,5])

In [28]:
type(b)

tuple

In [34]:
b = b + (1,)

In [35]:
b

(1, 4.5, 'Rockwell', {'key': 456}, (3, 4), [4, 5], 1)

In [36]:
a

[1, 4.5, (3, 4), [4, 5], 1]

In [37]:
a[2] = 'abc'

In [38]:
a

[1, 4.5, 'abc', [4, 5], 1]

In [40]:
b[2] = 123

TypeError: 'tuple' object does not support item assignment

In [43]:
b.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [45]:
b[2:5]

('Rockwell', {'key': 456}, (3, 4))

### Dictionary

Collection of elements enclosed by { }, having no index for each element but key-value pair and unordered. It can contain any python object like other lists or datacontainer, datatypes (integers, floats, strings etc), classes, objects, methods, builtins and many more as the value but the must be an immutable python type (string, integers, float, tuple, None, etc). It is also mutable, meaning it can be updated/changed/deleted in runtime. It is unordered and each value can be accessed through key. It is implemented as hash tables that we have in C++ and the complexity of retrieval is always O(1), hence the fastest. You can perform many function on Dictionary like get, update, pop etc as it is mutable.

In [55]:
c = {"name": "Rockwell", "location": "Hyderabad", None: {"key": 123}, (1,2): [4354,23]}

In [62]:
c

{(1, 2): [4354, 23],
 None: {'key': 123},
 'location': 'Hyderabad',
 'name': 'Rockwell'}

In [59]:
x = {'name': 123 , 'location': "hyd", "name": "rockwell"}

In [60]:
x

{'location': 'hyd', 'name': 'rockwell'}

In [63]:
c.pop("name")

'Rockwell'

In [64]:
c

{(1, 2): [4354, 23], None: {'key': 123}, 'location': 'Hyderabad'}

In [65]:
x = {'key': "value"}

In [66]:
c.update(x)

In [67]:
c

{(1, 2): [4354, 23],
 None: {'key': 123},
 'key': 'value',
 'location': 'Hyderabad'}

In [69]:
c = c + {'name': 'rock'}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [71]:
c['name'] = "rockwell"

In [72]:
c

{(1, 2): [4354, 23],
 None: {'key': 123},
 'key': 'value',
 'location': 'Hyderabad',
 'name': 'rockwell'}

In [73]:
c.items()

dict_items([('location', 'Hyderabad'), (None, {'key': 123}), ((1, 2), [4354, 23]), ('key', 'value'), ('name', 'rockwell')])

In [74]:
c.keys()

dict_keys(['location', None, (1, 2), 'key', 'name'])

In [76]:
c.values()

dict_values(['Hyderabad', {'key': 123}, [4354, 23], 'value', 'rockwell'])

In [78]:
c

{(1, 2): [4354, 23],
 None: {'key': 123},
 'key': 'value',
 'location': 'Hyderabad',
 'name': 'rockwell'}

In [86]:
c.get('location1', 'NOt Available')

'NOt Available'

In [80]:
'location' in c

True

In [87]:
[] == None

False

In [88]:
'' == None

False

In [89]:
False == None

False

In [90]:
a

[1, 4.5, 'abc', [4, 5], 1, 4, 5]

### Sort vs Sorted

sort changes the container by sorting it where as sorted returns another sorted list. Sorted is optimized as compared to sort.

In [100]:
d = [1,5,3,7,9,543,2,4,79,2]

In [101]:
d

[1, 5, 3, 7, 9, 543, 2, 4, 79, 2]

In [112]:
sorted(d)

[1, 2, 2, 3, 4, 5, 7, 9, 79, 543]

In [105]:
d

[1, 5, 3, 7, 9, 543, 2, 4, 79, 2]

In [106]:
y

[1, 2, 2, 3, 4, 5, 7, 9, 79, 543]

In [113]:
e = (1,436,412.224,346,54.43)

In [114]:
sorted(e)

[1, 54.43, 346, 412.224, 436]