# String Manipulation and Exception Handling

in, not in, +, *, slicing, ''.join, ==, !=, %, %.2f, ', ", '''/""", \, \n, \t, len, upper, lower, replace,

In [1]:
a = "string manipulation in python"

In [5]:
'ing'in a, 'ingeded' in a, 'ing' not in a, 'ingde' not in a

(True, False, False, True)

In [9]:
b = " is nice"

In [10]:
c = a+b

In [11]:
c

'string manipulation in python is nice'

In [19]:
'help ' * 13

'help help help help help help help help help help help help help '

In [16]:
for i in range(5):
    print ('*' * (5-i))

*****
****
***
**
*

In [23]:
a[5:15:3]

'gapa'

In [24]:
x = ['c', 'a', 'k', 'e']

In [28]:
''.join(x)

'cake'

In [29]:
y = 'abcd'

In [31]:
'abcd' == y, 'xyz' != 'dee'

(True, True)

### Manipulation

In [40]:
var1 = "hi, my name is %s, my age is %d"

In [41]:
var1 % ('Jack', 25)

'hi, my name is Jack, my age is 25'

In [44]:
name = 'jack'
age = 25

string = 'hi, my name is '+ name + " , my age is " + str(age)
print(string)

hi, my name is jack , my age is 25

In [46]:
var2 = "hi my name is {0}, my age is {1}".format('Jack', 25)

In [47]:
var2

'hi my name is Jack, my age is 25'

In [49]:
# Specific for python3.6 and above
name = 'jack'
age = 25

string = f'hi, my name is {name}, my age is {age}'
print(string)

hi, my name is jack, my age is 25

In [50]:
var3 = "hi my first brother's wife is here"

In [51]:
var3

"hi my first brother's wife is here"

In [53]:
var4 = "here is the first line
here is the second"

SyntaxError: EOL while scanning string literal (<ipython-input-53-ef34794309a9>, line 1)

In [54]:
var5 = "here is the first line \
here is the second"

In [57]:
var5

'here is the first line here is the second'

In [58]:
var6 = "here is the first line \n here is the second"

In [59]:
var6

'here is the first line \n here is the second'

In [60]:
var7 = """here is the first line
here is the second
and third"""

In [61]:
var7

'here is the first line\nhere is the second\nand third'

In [62]:
len(var7)

51

In [63]:
var7.upper()

'HERE IS THE FIRST LINE\nHERE IS THE SECOND\nAND THIRD'

In [65]:
var7.lower()

'here is the first line\nhere is the second\nand third'

In [66]:
var7.capitalize()

'Here is the first line\nhere is the second\nand third'

In [82]:
var7.replace('first', '1st')

'here is the 1st line\nhere is the second\nand third'

### Exception Handling

In [69]:
try:
    # your statements
    6 / 0
except:
    # Your except statement
    print ('Zerodivison error Occured')

Zerodivison error Occured

In [75]:
try:
    #statement
    #6/0
    d = {}; d['eces']
except ZeroDivisionError:
    print('zero')
except KeyError:
    print('key')

key

In [77]:
try:
    # statement
    # 6/0
    d = {}; d['eces']
except Exception as e:
    print(e)

'eces'

In [78]:
class MyException(Exception):
    pass

In [80]:
try:
    d = {}; d['eces']
except:
    raise MyException('some error')

MyException: some error